__pycache__/
*venv/
*.exe
*.cmd

nuitka-crash-report.xml

# Build and dist folders
*.dist/
*build/
OutlastTogether.build/
OutlastTogether.dist/
OutlastTogether.onefile-build/
OutlastTogetherLauncher.spec
Config/
